.installationinformation
AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
Uninstaller/*
art/*
bc.conf
build.xml
doc/*
lib/*
music/*
sound/*
version.txt
.classpath
.project
bin/*
.metadata/*
submission.jar
battlecode*.tmp